importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
useDynLib(overcoverage2, .registration = TRUE)
export(model_BLB)
export(model_nonBLB)
export(compute_mixing_weights)
export(compute_viterbi_paths)
importFrom(stats, nlm, optim, rnorm, runif, sd)
