importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
useDynLib(overcoverage, .registration = TRUE)
export(model_BLB)
export(model_nonBLB)
export(compute_mixing_weights)
export(compute_viterbi_paths)
export(oc2_check_register_data)
export(oc2_prepare_register_data)
importFrom(stats, nlm, optim, rnorm, runif, sd)
